# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.db

# Virtualenv
.venv
venv
env

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Env files
.env
.env.*

# Docker
Dockerfile
docker-compose*.yml

# Tests & docs
tests/
*.md
