# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# VSCode settings
.vscode/

# Mac/Windows junk
.DS_Store
Thumbs.db

